.table_action
{
	border: 1px solid #ddd;
    padding: 5px;
     color: white; 
    border-radius: 21%;
}
button.btn.border-slate.text-slate-800.add_btn.btn-flat {
    border-color: yellowgreen;
    background-color: yellowgreen;
    width: 60px;
    height: 32px;
    padding: 5px;
    margin-top: 33px;
    color: #fff;
}
button.btn.bg-darkcyan{
  background-color: darkcyan;
  border-color: darkcyan;
  color: #fff;

}
button.btn.border-slates.bg-coral{
  background-color: coral;
  border-color: coral;
  color: #fff;

}
.errormsg{
  color: red;
}
/*button#add_causes {
    background: linear-gradient(45deg,#ea7325 1%,#fcc005 100%);
}*/
button#login_vendor {

    background: linear-gradient(45deg, #ea7325 1%, #fcc005 100%);

}
.text-slate-800.add_btn, .text-slate-800.add_btn:hover, .text-slate-800.add_btn:focus{
  color: #fff !important;
}

thead {
    /*background-color: #f8ae182e;*/
     background-color:#f8b1194a;
}


.table > tbody > tr:nth-of-type(odd):hover {
    /*background-color: #8080802e;*/
    background-color: #80808014;
}
.table > tbody > tr:nth-of-type(even):hover {
    background-color: #80808014;
}

/*.table > tbody > tr:nth-of-type(odd) {
    background-color: #80808017;
}*/
.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover, .dataTables_paginate .paginate_button.current:focus {
    color: #fff;
    /*background-color: #455A64;*/
    background-color: #0fccc3;
}
img.profile_img{
    width: 50% !important;
}
.divclass {
  background: #415665;
  height: 50px;
  width:200px;
  border-radius: 15px;
  padding:20px;
  font-size:22px;
  color:#fff;   
}
