.clear
{
	clear: both;
}
.p0
{
	padding: 0;
}
.pl0
{
	padding-left: 0;
}
.pr0	
{
	padding-right: 0;
}
.inner_div_widgets
{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	padding: 20px 10px;
}
.inner_div_widgets i
{
	font-size: 42px;
	margin-top: 16px;
	color: #fff;
}
.inner_div_widgets h4
{
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
}
.inner_div_widgets p
{
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	color: #fff
}
.clr1{background-color: #dd4b39}
.clr2{background-color: #f39c12}
.clr3{background-color: #00c0ef}
.clr4{background-color: #0073b7}

.list_ads
{
	padding-left: 0;	
}
.list_ads li
{	
	list-style-type: none;
	border-bottom: 1px solid #ddd;
	padding: 11.4px 0;
}
.list_ads li:last-child
{
	border-bottom: 0;
}
.list_ads img
{
	width: 100%;
}
.list_ads h4
{
    margin: 0;
    margin-bottom: 12px;
    color: #484848;
    font-weight: 500;
}
.list_ads p
{
    font-size: 14px;
    color: #000;
}
.view_all
{
    font-size: 15px;
    background-color: #26a69a;
    padding: 8px 20px;
    color: #fff;
    margin-top: 8px;
    display: inline-block;
}
.view_all:hover
{
	color: #fff;
}
.page-title
{
	padding: 20px 25px 20px 0;
}
.table_action
{
	border: 1px solid #ddd;
	padding: 6px;
	color: #666;
}
.no_wrap
{
	white-space: nowrap;
}
.activateIt
{
	background-color: #26A69A;
	color: #fff;
}
.activateIt:hover
{
	color: #fff;
}